/*comment here
.audio-block {
    border-top: 0;
    font-family: "Open Sans", arial, sans-serif; /*hello*/
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    /*hi*/
    color: #E5E5E5;
    display: block;
    /*hello*/
    height: 100px;
}

/*multi
line
comment
*/